html {
	font-size: 16px;
	height: 100%;
	
}

body, html {
	color: #ffffff;
	font-family: "Open Sans", sans-serif
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	background: #001821;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
ul li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
	
}

p {
	margin: 0;
	padding: 0;
	margin-top: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.main-page-wrapper {
	background: url(../../img/fon1.jpg) center top no-repeat;
}

.container, .hero__container {
	margin: 0 auto;
	max-width: 1150px;
}

.logo {
	display: block;
	width: 85px;
	height: 36px;
	margin-right: 79px;
	
}

.menu {	
}

.contacts {
    font-style: normal;
    text-align: right;
}



.menu__item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 50px;
}

.menu__link {
	font-size: 14px;
}

.contacts__phone {
	font-size: 26px;
	margin-bottom: 4px;
}


.button {
	display: block;
	cursor: pointer;
	max-width: max-content;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
    text-decoration: none;
	border-radius: 35px;
	border: 1px solid #F5170E;
}
.button--red {
	color: #fff;
	background:#f00707;
    padding: 18px 39px;
	
}

.button--red:hover {
	color: #f00707;
	background:#ffffff;
	border-color: #f00707;
}

.button--white {
	color: #f00707;
	background:#ffffff;
    padding: 18px 39px;
}
.button--white:hover {
	background:#f00707;
	color: #fff;
}

.paginator {
	text-align: center;
}

.paginator__display, .paginator__list {
	display: inline-block;
	vertical-align: middle;
}
.paginator__display {
	margin-right: 26px;
}
.paginator__item {
	display: inline-block;
	vertical-align: middle;
}
.paginator__link {
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	position: relative;
	text-decoration: none;
	font-weight: bold;
	line-height: 32px;
}
.paginator__item:hover {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	position: relative;
	text-decoration: none;
	font-weight: bold;
	line-height: 32px;
	color: #f00707;
	background: #ffffff
}
