
.footer {
    
	display: flex;
	justify-content: space-between;
	align-items: center;
    padding-top: 28px;
    padding-bottom: 38px;
    margin-top: auto;
	margin-bottom: 20px;
}

.footer-container__section {
    border-top: 1px solid #9A9A9A;
}

.footer-container__content {
	display: flex;
	align-items: center;
}
.footer-container__content--right {
	
	justify-content: flex-end;
}

.socials {
   margin-right: 74px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.socials__item:last-child {
    margin-right: 0;
}
.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}
.socials__item--icon--tm .socials__link {
    background-image: url(../../img/footer--telegram.png);
}
.socials__item--icon--vk .socials__link {
    background-image: url(../../img/footer--vk.png);
}
.socials__item--icon--fb .socials__link {
    background-image: url(../../img/footer--f.png);
}
.socials__item--icon--ig .socials__link {
    background-image: url(../../img/footer--in.png);
}

.contacts__text {
	font-size: 11px;
    line-height: 20px;
    color: #9A9A9A
}