.news {
    margin-bottom: 145px;
}
.title {
    margin-bottom: 55px;
    font-size: 36px;
    font-weight: bold;
}
.news__list {
    margin-bottom: 40px;
}
.news__item {
    width: 557px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 15px;

}
.news__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    min-height: 140px;
    color: #fff
}
.news__date {
    font-size: 15px;
    margin-bottom: 18px;
}
.news__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}